

.barChart .x.axis path {
  display: none;
}

#partModulo .x.axis text {
	text-anchor: end;
}

#partModulo svg {
	overflow: visible;
}

#partLeccion .x.axis text {
  text-anchor: end;
}

#partLeccion svg {
  overflow: visible;
}

#partActividad .x.axis text {
  text-anchor: end;
}

#partActividad svg {
  overflow: visible;
}
.barchart .bar:hover{
  fill:brown;
}

body {

	background: #D3D3D3;
  margin: 20px;

}

.fixedContainer {
    background-color:#ddd;
    position: fixed;
    padding: 2em;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.verticalLine {
  border-right:  dashed #EEE8E8;
  height: 500px;
}

select {
  margin: 50px;
  width: 150px;
  padding: 5px 35px 5px 5px;
  font-size: 16px;
  border: 1px solid #ccc;
  height: 34px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: url(https://image.flaticon.com/icons/svg/109/109731.svg) 96% / 15% no-repeat #eee;
}


/* CAUTION: IE hackery ahead */


select::-ms-expand { 
    display: none; /* remove default arrow in IE 10 and 11 */
}

